.productItem {
  background-color: white;
  margin: 10px;
  padding: 10px;
  width: 400px;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  gap: 12px;
}

.productItemButton {
  background-color: #febe10;
  padding: 10px;
  outline: none;
  border: none;
  font-size: 15px;
  font-weight: 500;
  border-radius: 5px;
}

.productItemButton:hover {
  color: white;
  background-color: #444443;
  cursor: pointer;
}

.productItemBuy {
  background-color: #ffd700;
  padding: 10px;
  outline: none;
  border: none;
  font-size: 15px;
  font-weight: 500;
  border-radius: 5px;
}

.productItemBuy:hover {
  color: white;
  background-color: #444443;
  cursor: pointer;
}
